In this notebook, we will calculate the predicted number of deaths in 2020.

# **Preliminary steps**

In [1]:
### We import the packages

# To manage dataframes
import numpy as np
import pandas as pd
import math

In [3]:
### We import previous dataframes

%store -r pred_1_women_f1
%store -r pred_1_women_f1_lower
%store -r pred_1_women_f1_upper
%store -r pred_1_men_f1
%store -r pred_1_men_f1_lower
%store -r pred_1_men_f1_upper

%store -r pred_1_women_f2
%store -r pred_1_women_f2_lower
%store -r pred_1_women_f2_upper
%store -r pred_1_men_f2
%store -r pred_1_men_f2_lower
%store -r pred_1_men_f2_upper

%store -r pred_2_women_f1
%store -r pred_2_women_f1_lower
%store -r pred_2_women_f1_upper
%store -r pred_2_men_f1
%store -r pred_2_men_f1_lower
%store -r pred_2_men_f1_upper

%store -r pred_2_women_f2
%store -r pred_2_women_f2_lower
%store -r pred_2_women_f2_upper
%store -r pred_2_men_f2
%store -r pred_2_men_f2_lower
%store -r pred_2_men_f2_upper

%store -r population_2020

# **Function to create the table**

In [4]:
def table(pred_ratios_women, pred_ratios_women_lower, pred_ratios_women_upper, pred_ratios_men, pred_ratios_men_lower, pred_ratios_men_upper):
    deaths = population_2020.iloc[:,:100].copy()
    deaths_lower = population_2020.iloc[:,:100].copy()
    deaths_upper = population_2020.iloc[:,:100].copy()
    for i in range(100) :
        deaths.iloc[2,i] = math.ceil(deaths.iloc[2,i] * pred_ratios_women.iloc[0,i] / 100000)
        deaths.iloc[1,i] = math.ceil(deaths.iloc[1,i] * pred_ratios_men.iloc[0,i] /100000)
        deaths.iloc[0,i] = deaths.iloc[1,i] + deaths.iloc[2,i]
        
        deaths_lower.iloc[2,i] = math.ceil(deaths_lower.iloc[2,i] * pred_ratios_women_lower.iloc[0,i] / 100000)
        deaths_lower.iloc[1,i] = math.ceil(deaths_lower.iloc[1,i] * pred_ratios_men_lower.iloc[0,i] /100000)
        deaths_lower.iloc[0,i] = deaths_lower.iloc[1,i] + deaths_lower.iloc[2,i]
        
        deaths_upper.iloc[2,i] = math.ceil(deaths_upper.iloc[2,i] * pred_ratios_women_upper.iloc[0,i] / 100000)
        deaths_upper.iloc[1,i] = math.ceil(deaths_upper.iloc[1,i] * pred_ratios_men_upper.iloc[0,i] /100000)
        deaths_upper.iloc[0,i] = deaths_upper.iloc[1,i] + deaths_upper.iloc[2,i]
        
    table = pd.DataFrame(index = pd.IntervalIndex.from_breaks([0, 64, 100]), columns = ["Population", "Predicted deaths", "Observed deaths", "Difference", "Difference (in %)"])
    Total = pd.DataFrame(index = ["Total"], columns = ["Population", "Predicted deaths", "Observed deaths", "Difference", "Difference (in %)"])
    
    table.iloc[0,0] = sum(population_2020.iloc[0,:65])
    table.iloc[0,1] = [sum(deaths_lower.iloc[0,:65]),sum(deaths_upper.iloc[0,:65])]
    table.iloc[0,2] = 92478
    table.iloc[0,3] = [92478-sum(deaths_upper.iloc[0,:65]),92478-sum(deaths_lower.iloc[0,:65])]
    table.iloc[0,4] = [str(round(100*(92478-sum(deaths_upper.iloc[0,:65]))/sum(deaths_upper.iloc[0,:65]),2))+" %",str(round(100*(92478-sum(deaths_lower.iloc[0,:65]))/sum(deaths_lower.iloc[0,:65]),2))+" %"]
    
    table.iloc[1,0] = sum(population_2020.iloc[0,65:100])
    table.iloc[1,1] = [sum(deaths_lower.iloc[0,65:100]),sum(deaths_upper.iloc[0,65:100])]
    table.iloc[1,2] = 561538
    table.iloc[1,3] = [561538-sum(deaths_upper.iloc[0,65:100]),561538-sum(deaths_lower.iloc[0,65:100])]
    table.iloc[1,4] = [str(round(100*(561538-sum(deaths_upper.iloc[0,65:100]))/sum(deaths_upper.iloc[0,65:100]),2))+" %",str(round(100*(561538-sum(deaths_lower.iloc[0,65:100]))/sum(deaths_lower.iloc[0,65:100]),2))+" %"]
    
    Total.iloc[0,0] = sum(population_2020.iloc[0,:100])
    Total.iloc[0,1] = [sum(deaths_lower.iloc[0,:100]),sum(deaths_upper.iloc[0,:100])]
    Total.iloc[0,2] = 92478+561538
    Total.iloc[0,3] = [92478+561538-sum(deaths_upper.iloc[0,:100]),92478+561538-sum(deaths_lower.iloc[0,:100])]
    Total.iloc[0,4] = [str(round(100*(92478+561538-sum(deaths_upper.iloc[0,:100]))/sum(deaths_upper.iloc[0,:100]),2))+" %",str(round(100*(92478+561538-sum(deaths_lower.iloc[0,:100]))/sum(deaths_lower.iloc[0,:100]),2))+" %"]
    
    table = pd.concat([table,Total], axis=0)
    return table

# **First database**

In [6]:
# Results for f1 function

table(pred_1_women_f1, pred_1_women_f1_lower, pred_1_women_f1_upper, pred_1_men_f1, pred_1_men_f1_lower, pred_1_men_f1_upper)

,Population,Predicted deaths,Observed deaths,Difference,Difference (in %)
"(0, 64]",51821513,"[90616, 95262]",92478,"[-2784, 1862]","[-2.92 %, 2.05 %]"
"(64, 100]",13443795,"[488035, 498997]",561538,"[62541, 73503]","[12.53 %, 15.06 %]"
Total,65265308,"[578651, 594259]",654016,"[59757, 75365]","[10.06 %, 13.02 %]"

In [7]:
# Results for f2 function

table(pred_1_women_f2, pred_1_women_f2_lower, pred_1_women_f2_upper, pred_1_men_f2, pred_1_men_f2_lower, pred_1_men_f2_upper)

,Population,Predicted deaths,Observed deaths,Difference,Difference (in %)
"(0, 64]",51821513,"[93716, 96406]",92478,"[-3928, -1238]","[-4.07 %, -1.32 %]"
"(64, 100]",13443795,"[484223, 490680]",561538,"[70858, 77315]","[14.44 %, 15.97 %]"
Total,65265308,"[577939, 587086]",654016,"[66930, 76077]","[11.4 %, 13.16 %]"

# **Second database**

In [8]:
# Results for f1 function

table(pred_2_women_f1, pred_2_women_f1_lower, pred_2_women_f1_upper, pred_2_men_f1, pred_2_men_f1_lower, pred_2_men_f1_upper)

,Population,Predicted deaths,Observed deaths,Difference,Difference (in %)
"(0, 64]",51821513,"[86210, 90799]",92478,"[1679, 6268]","[1.85 %, 7.27 %]"
"(64, 100]",13443795,"[443365, 453879]",561538,"[107659, 118173]","[23.72 %, 26.65 %]"
Total,65265308,"[529575, 544678]",654016,"[109338, 124441]","[20.07 %, 23.5 %]"

In [9]:
# Results for f2 function

table(pred_2_women_f2, pred_2_women_f2_lower, pred_2_women_f2_upper, pred_2_men_f2, pred_2_men_f2_lower, pred_2_men_f2_upper)

,Population,Predicted deaths,Observed deaths,Difference,Difference (in %)
"(0, 64]",51821513,"[90312, 92958]",92478,"[-480, 2166]","[-0.52 %, 2.4 %]"
"(64, 100]",13443795,"[454539, 460820]",561538,"[100718, 106999]","[21.86 %, 23.54 %]"
Total,65265308,"[544851, 553778]",654016,"[100238, 109165]","[18.1 %, 20.04 %]"